.App {
  text-align: center;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

.main-background {
  background-image: url('./assets/Background.png');
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0.5;
  filter: blur(5px);
}

.info-wrapper {
  display: none;
  position: absolute;
  border: 0.699999988079071px solid #9e9297;
  border-radius: 5px;
  height: 250px;
  width: 95%;
  color: white;
  top: 410px;
}

.info-content-wrapper {
  overflow: hidden;
  height: 100%;
}

.active > .slider-single-content .info-wrapper {
  display: block;
}

.hotel-name {
  position: absolute;
  top: -100px;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #ffffff;
  font-weight: 90;
}

.background-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

.top-star {
  position: absolute;
  top: -19px;
  justify-content: center;
  left: 553px;
}
